# {{ inventory_hostname }}
Host {{ inventory_hostname }}
{% if auth_sshd_port is defined %}
  Port {{ auth_sshd_port }}
{% endif %}
{% if auth_remote_ssh_user is defined %}
  User {{ auth_remote_ssh_user }}
{% endif %}
  PreferredAuthentications publickey
  IdentityFile {{ auth_local_ssh_dir }}/{{ inventory_hostname }}


