Port {{ auth_sshd_port }}
Protocol 2


### Authentication:
{% if auth_disable_root %}
PermitRootLogin no
{% else %}
PermitRootLogin yes
{% endif %}

PasswordAuthentication {{ auth_sshd_pass_auth }}
PermitEmptyPasswords no

LoginGraceTime 20
StrictModes yes

RSAAuthentication yes
PubkeyAuthentication yes
#AuthorizedKeysFile     %h/.ssh/authorized_keys

# Don't read the user's ~/.rhosts and ~/.shosts files
IgnoreRhosts yes
# For this to work you will also need host keys in /etc/ssh_known_hosts
RhostsRSAAuthentication no
# similar for protocol version 2
HostbasedAuthentication no
# Uncomment if you don't trust ~/.ssh/known_hosts for RhostsRSAAuthentication
#IgnoreUserKnownHosts yes

# Change to yes to enable challenge-response passwords (beware issues with
# some PAM modules and threads)
ChallengeResponseAuthentication no

X11Forwarding no
PrintMotd no
PrintLastLog yes

TCPKeepAlive no
ClientAliveInterval 30
ClientAliveCountMax 500


# Allow client to pass locale environment variables
AcceptEnv LANG LC_*

Subsystem sftp /usr/lib/openssh/sftp-server

UsePAM yes


### HostKeys for protocol version 2
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_dsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
#Privilege Separation is turned on for security
UsePrivilegeSeparation yes

### Lifetime and size of ephemeral version 1 server key
KeyRegenerationInterval 3600
ServerKeyBits 768

### Logging
SyslogFacility AUTH
LogLevel INFO


{% if auth_lifesaver_user %}
### login with password only for {{ auth_lifesaver_user }}
Match User {{ auth_lifesaver_user }}
  PasswordAuthentication yes
{% endif %}
